# DEPENDENCIES
node_modules/
/.pnp
.pnp.js
yarn.lock

# BUILD
dist/
dist-electron/

# ENV FILES
.env

# TYPESCRIPT
*.tsbuildinfo

# MAC
._*
.DS_Store
Thumbs.db

# CREDENTIALS
credentials.json
token.json
